.SearchBar {
    margin-bottom: 20px;
  }
.SearchBar-Wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

  }
.SearchBar input {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid rgb(71, 64, 85);
    border-radius: 10px;
    background-color: rgb(187, 187, 202);
}
.SearchBar input:focus {
    outline: none;
    border: 1px solid #3d6891;
}

.SearchBar input::placeholder {
    color: rgb(37, 37, 41);
}


.SearchBar button {
    cursor: pointer;
    width: 80px;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid rgb(71, 64, 85);
    background-color: rgb(187, 187, 202);
}

.CitySuggestions {
  display: flex;
  flex-direction: column;
  background-color: rgb(187, 187, 202);
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #3d6891;
  border-top: white;
  width: 100%;
  max-width: 500px;
  top: 100%;
  z-index: 1000;

}
  
.CitySuggestions ul {
  list-style: none;
  padding: 0px;
  margin: 1px;


}

.CitySuggestions li {
  padding: 1px;
  margin: 5px;
  cursor: pointer;
  border-bottom: 1px solid #3d6891;
}
.CitySuggestions li:last-child {
  border-bottom: none; /* 마지막 항목은 구분선 제거 */
}

.CitySuggestions li:hover {
  background-color: #eee;
  border-radius: 10px;
}
